{% block content%}
    <section class="secInscrire">
        <h3>Se Connecter</h3>
        <form method="post" class="formSignup">
            {% csrf_token %}

            <div>
                <input type="email" name="email" placeholder="Entrez votre adresse mail"/>
            </div>
            
            <div>
                <input type="password" name="password" placeholder="Entrez votre mot de passe"/>
            </div>

            <div>
                <input type="submit" value="se connecter" class="sign">
            </div>
        </form>
    </section>
{% endblock content%}