<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="objet-rv">
          <input type="text" placeholder="Objet" name="objet" >
        </div>
        
        <div class="detail-rv">
          <textarea name="detail" id="detail"  placeholder="Détail"></textarea>
        </div>

        <div class="detail-rv">
          <input type="date" name="date" id="date" placeholder="Choisizew une date"></input>
        </div>

        <div>
            <textarea name="specialite" id="specialite" placeholder="specialite"></textarea>
        </div>
       
        <div class="send-rv">
          <input type="submit" value="Envoyer">
        </div>
    </form> 
</body>
</html>