{% extends '_base.html'%}

{% block titre%}Etablissements {% endblock%}


    {% block scripts %}
    <div class="header">
    <div class="container">
        <div class="list">
            <div class="nom">
                <h2>{{etablis.nom_etablissement}} </h2>
                <img src="{{ etablis.logo.url }}" alt="{{ etablis.nom_etablissement }} logo">
            </div>

            <div class="coordone">
               
               <h4>{{etablis.adresse}} </h4> 
                <h4>{{etablis.phone}} </h4>
            
            </div>
            <div class="localisation">{{etablis.localisation}}</div>
            
        </div>
    </div>
    </div>
    {% endblock %}