{% extends '_base.html'%}

{% block titre%}Etablissements {% endblock%}


    {% block scripts %}
    <div class="list">   
        <div class="etab">
             
                <ul>
                    {%for item  in etablissements%}
                    <li>
                        <a href="{% url 'detail_etablis' item.id%}">
                           <h3>
                            {{item.nom_etablissement}}
                           </h3> 
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            
           
        </div>
    </div>
    {% endblock %}