{% extends '_base.html'%}

{% block titre%}Acueil {% endblock%}

{% block scripts %}

<section class="header-sec">
    <div class="header-content">
        <h1>Medi Sn</h1>
        <p>Votre santé, notre priorité : Trouvez, Réservez, Soignez</p>
        
        <form action="" class="search-bar">
            <input type="text" placeholder="cherchez un institut de santé" name="q" >
            <button type="submit"><img src="image/search.png"></button>
        </form>
    </div>
</section>

<!----------Service--------->
<section class="service" >

    <h1 class="heading">Services Offert</h1>
    <p>Lorem ipsum dolor sit, amet  .</p>

    <div class="service-container">

        <div class="box">
            <img src="image/cardiologie.png" alt="">
            <h3>Cardiologie</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident accusanti
                um doloribus hic in expedita quisquam dicta itaque, vitae distinctio est vero beatae doloremque vo. Sequi, cum.</p>
            <a href="#" class="btn">Acceder</a>
        </div>

        <div class="box">
            <img src="image/ophta.png" alt="">
            <h3>Ophtamologie</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident accusanti
                um doloribus hic in expedita quisquam dicta itaque, vitae distinctio est vero beatae doloremque vo. Sequi, cum.</p>
            <a href="#" class="btn">Acceder</a>
        </div>

        <div class="box">
            <img src="image/dentiste.png" alt="">
            <h3>Dentiste</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident accusanti
                um doloribus hic in expedita quisquam dicta itaque, vitae distinctio est vero beatae doloremque vo. Sequi, cum.</p>
            <a href="#" class="btn">Acceder</a>
        </div>
    </div>
</section>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.9059463742124!2d-17.437353724951667!3d14.661278685832222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172350c61654f%3A0xc8bb77267bd374f8!2sHopital%20Principal%20de%20Dakar!5e0!3m2!1sfr!2ssn!4v1687558126956!5m2!1sfr!2ssn"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}